<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.html')%>    
</head>
<body>

    <%- include ('partials/navigation.html')%>

    <div class="conteiner-fluid">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/cheems.png" class="animate__animated animate__wobble" alt="Cheems" >
            </div>
        </header>
    

    <!-- Section 1 -->
    <div class="conteiner-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6 text-center">
                <i class="fa fa-youtube fa-10x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed Youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nisi. Quo repellat, quos veritatis eum mollitia temporibus excepturi, tempore officiis dolor odit minima debitis quod, aperiam libero modi culpa iusto.</p>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html')%>
            
</body>
</html>